#label-container {
    border: solid 1px;
}

#label-container,
#label-container div,
#label-container h2 {
    padding: 0;
    margin: 0;
}

#label-container {
    padding-left: 3px;
    padding-right: 3px;
}

#label-container h2 {
    font-weight: bold;
}
