.label-container,
.label-container div,
.label-container ul,
.label-container li,
.label-container h2,
.label-container h3,
.label-container hr {
    padding: 0;
    margin: 0;
}

.label-container > div {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: solid 1px;
}

.label-container h2 {
    font-weight: bold;
}

.label-container h3 {
    font-size: 1.1em;
    font-weight: bold;
    white-space: nowrap;
}

.label-container hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid 0.5em;
}

.label-container hr.slim {
    border: solid 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.label-container hr.x-slim {
    border: solid 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.label-container ul {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-left: 0.2em;
}

.label-container li {
    list-style-type: none;
    font-size: 0.9em;
}

.nobr {
    white-space: nowrap
}

/**React Tags**/

.ReactTags__tag {
    background-color: lightgray;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.3em;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.ReactTags__remove {
    margin-left: 0.3em;
    font-size: larger;
    cursor: pointer;
}

.ReactTags__tagInput {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.ReactTags__tagInputField {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
}

.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 0.2em 0.5em;
    margin: 0;
}

.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
